.chk_table {

  width: 100%;

}
.chk_table td, .chk_table th {
  border-style: solid;
  border-width: 1px;
}

.chk_table th {
  height: 40px;
}

.chk_table td {
  text-align: center;
}
.chk_table .chk_item {
  text-align: left;
}
.chk_table .chk_row1 {
  background-color: #b7babf;
  font-weight: bold;
  font-size: 20px;
}
.chk_table .chk_row2 {
  font-size: 16px;
}
.chk_table .chk_row3 {
  font-size: 14px;
}
.chk_table .chk_row4 {
  font-size: 14px;
}
.chk_table .chk_row5 {
  font-size: 14px;
}

.chk_table .chk_number {
  text-align: left;
  margin-left: 1px;
}
