body {
  background-color: white;
}
.container  {
  width: 100%;
  text-align:justify
}

.header_table {
  text-align: center;
  width: 100%
}

.header_table td {
  width: 33%;

}

.border {
  width: 100%;
  height: 10px;
  background-color: #c0c0c0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#welcome {
    font-size: 24px;
}

#contribute {
    font-size: 20px;
}

.lifecycle_cont,  .standalone_cont {

  display:inline-block;

  background-color: #c0c0c0;
}
.lifecycle_cont {
  width: 59%;
}
.standalone_cont {
  float: right;
  width: 39%;
}

.title, .table-div {
  background-color: white;

}

.title {
  margin: 0 0 5px 0;
}

.title table {
  text-align: center;
  font-size: 32px;
}

.table-div {
  margin-bottom: 2px;
  padding: 3px;

}

.td_sa {
  text-align: center;
  padding: 4px;
  font-size: 24px;
}

.td_lc_titl {
  font-size: 20px;
}

.td_lc_desc {
  font-size: 16px;
}

.portrat img {
  width: auto;
  height: 100%;
}
.landscape img {
  width: 100%;
  height: auto;
}
